.idea
.idea/
/venv/*
./venv/*
.DS_Store
*.pyc
.DS_Store
/__pycache__/*
venv/
.git
*.zip
*.exe
algorithms/loadpredict/shuangxiangjiabi/sxjb/for_redistribution/MyAppInstaller_mcr.app/Contents/MacOS/setup.dSYM/Contents/Resources/DWARF/setup
algorithms/loadpredict/shuangxiangjiabi/sxjb/for_redistribution/MyAppInstaller_mcr.app/Contents/MacOS/setup
*.log
